<%= form_with model: food, url: foods_path, :html => {:class => 'form', :id => 'form' }  do |form| %>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div>
        <%= form.text_field :name, autofocus: true, autocomplete: "text", placeholder: "Enter category name" %>
        <% food.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

        <%= form.text_field :icon, autofocus: true, placeholder: "Enter category icon url" %>
        <% food.errors.full_messages_for(:measurement_unit).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

       <div class="actions">
      <%= f.submit "Add", class: "btn"%>
    </div>
    </div>
<% end %>
