<section class='categories_controllers'>
  <div class="user-info">
    <%= image_tag gravatar_image_url(current_user), :class => "avatar" %>
        <span class="user-text__name"><%= current_user.name %></span>
      </div>
     <header class="input-container">
      <nav>
        <ul class='links'>
          <li>
            <i class="fa fa-bars"></i>
          </li>
          <li>
            TRANSACTIONS
          </li>
          <li class="logout">
            <%= button_to "Logout", destroy_user_session_path(current_user), method: :delete %>
          </li>
        </ul>
      </nav>
  </header>

 <section>
       
     <% if @categories.exists? %>
      <ul class="category-lists-wrapper">
          <% @categories.each do |category| %>
           <%= link_to category_path(category.id), method: :get do %> 
          <li>
          
            <div class='desc'>
              <%= image_tag(category.icon, class:'list_image') %>
              <span>
                <p><%= category.name %></p>
                <small><%= category.created_at.to_date.strftime("%d %b, %Y") %></small>
              </span>
            </div>
              <p class='strong'>$<%= category.businesses.sum(:amount) || '0.00'%>
              
              </p>
          </li> 
          <% end %>
          <% end %>
      </ul>
 
   
   <% else %>
          <p>No Category Added yet</p> 
      <% end %>
  <div>
 <div class='category-footer'>
    <%= button_to "Add Category", new_category_path, method: :get, class: 'category-btn' %>
  </div>
</section>