<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="description"
      content="A Budget-app is mobile web application where you can manage your budget: you have a list of transactions associated with a category, so that you can see how much money you spent and on what."
    />
    <meta
			property="og:description"
			content="A Budget-app is mobile web application where you can manage your budget: you have a list of transactions associated with a category, so that you can see how much money you spent and on what."
		/>
    <meta property="og:image" content=”%PUBLIC_URL%/screenshot.png” />
    <meta property="og:title" content="Always Care Doctors Appointment App" />
		<meta
			name="image"
			property="og:image"
			content="https://alwayscare.herokuapp.com/images/screenshot.png"
		/>
		<meta name="author" content="Victor Ebube Okoroji | Lynette Acholah | Faith Usor | Qoosim Abdulganiy " />
		<meta property="og:url" content="https://alwayscare.herokuapp.com/" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "header" %>
    <%= stylesheet_link_tag "category" %>

  </head>

  <body>
    <%= yield %>
     <% flash.each do |name, message| %>
    <div class="<%= name %>"><%= message %></div>
    <% end %>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </body>
</html>
