<section class="user-input-container">
  <header class="input-container">
    <nav>
      <ul class='links'>
        <li>
        <%= link_to categories_path do %>
          <i class="fa fa-arrow-left"></i>
          <% end %>
        <li>
        <li>
          EDIT PROFILE
        <li>
        <li class='login'>
          <input type="submit" value='Next' form='form' class='submit'>
        </li>
      </ul>
    </nav>
  </header>
  <section class="form-section">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form', id: 'form' }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="user-img-wrapper">
        <% if resource.avatar.attached? %>
          <div class="user-profile-img">
         <%= image_tag resource.avatar, :class => "avatar"%>
          </div>
        <% else %>
          <div class="user-profile-img">
            <%= image_tag "avatar.png", :class => "avatar" %>
          </div>
        <% end %>
      </div>
      <div class="user__option">
        <ion-icon name="image-outline", class ="ion-icon"></ion-icon>
        <%= f.file_field :avatar, :id => "option-text", accept: "image/jpeg, image/png, image/jpg" %>
      </div>

      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "text", placeholder: "Full name" %>
      </div>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="field">
       <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password"%>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation" %>
      </div>

      <div class="field">
        <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", id: 'update' %>
      </div>
    <% end %>
</section>
</section>
